<h1>Order Summary</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="thumbnail">
        <% @order.carted_products.each do |carted_product| %>
        <h3>Name: <%= carted_product.product.name %></h3>
        <h3>Quantity: <%= carted_product.quantity %></h3>
        <h3>Name: <%= carted_product.product.price %></h3>
        <% end %>
        <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
        <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
        <h3>Total: <%= number_to_currency(@order.total) %></h3>
      </div>
    </div>
</div>
