<h1>Order Summary</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="thumbnail">
        <h3>Order ID: <%= @order.id %></h3>
        <h3>Product: <%= @order.product.name %></h3>
        <h4>Quantity: <%= @order.quantity %></h4>
        <h3>Email: <%= @order.user.email %></h3>
        <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
        <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
        <h3>Total: <%= number_to_currency(@order.total) %></h3>
      </div>
    </div>
</div>
