<h1>All Products</h1>

<% @products.each do |product| %>
  <div class="col-md-4">
    <div class="well">
      <h2>Name: <a href="products/<%= product.id %>"><%= product.name %></a></h2>
      <p class="<%= "sale-item" if product.discounted? %>">Price: <%= number_to_currency(product.price) %></p>
      <h3>Image: <img src="<%= product.default_image %>"></h3>
      <h4>Supplier: <%= product.supplier.name %></h4>
      <h3>Description: <%= product.description %></h3>
      <h3><%= product.sale_message %></h3>
      <h3>Tax: <%= number_to_currency(product.tax) %></h3>
      <h3>Total: <%= number_to_currency(product.total) %></h3>
    </div>
  </div>
<% end %>