
<% @product.errors.full_messages.each do |error| %> 
  <h2><%= error%></h2>
<%end%>

<h2>Add a new Product to the Database</h2>
<%= form_tag "/products", method: :post do%>
<div>
  <%= label_tag :name %>
  <%= text_field_tag :Name, @product.name %>
</div>

<div>
  <%= label_tag :price %>
  <%= text_field_tag :price, @product.price %>
</div>

<div>
  <%= label_tag :supplier %>
  <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
</div>

<div>
  <%= label_tag :description,  %>
  <%= collection_select :description, @product.description %>
</div>

<input type="submit" value="Make New Shoe">
<% end %>