
  <h2>Name: <%= @product.name %></h2>
  <p class="<%= "sale-item" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></p>
  <h3>Image: <img src="<%= @product.image %>"></h3>
  <h3>Description: <%= @product.description %></h3>
  <p>Supplier: <%= @product.supplier.name %></p>
  <h3><%= @product.sale_message %></h3>
  <h3>Tax: <%= number_to_currency(@product.tax) %></h3>
  <h3>Total: <%= number_to_currency(@product.total) %></h3>


  <div>
  <a class="btn btn-info" href="/products/<%= @product.id %>/edit"> Edit Product Info</a>
  </div>
  <%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value="Delete Product">
  <% end %>