
  <h2>Name: <%= @product.name %></h2>
  <p class="<%= "sale-item" if @product.discounted? %>">Price: <%= number_to_currency(@product.price) %></p>

  <% @product.images.each do |image| %>
    <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
  <% end %>

  <h3>Description: <%= @product.description %></h3>
  <h3>Product ID: <%= @product.id %></h3>
  <h4>Supplier: <%= @product.supplier.name %></h4>
  <h3><%= @product.sale_message %></h3>
  <h3>Tax: <%= number_to_currency(@product.tax) %></h3>
  <h3>Total: <%= number_to_currency(@product.total) %></h3>
  
  <%= form_tag "/orders", method: :post do%>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity%>
  </div>
   <div>
    <%= label_tag :product_id, "ID for product"%>
    <%= text_field_tag :product_id%>
  </div>
  <%= submit_tag "Buy Now!", class: "btn btn-default" %>
  <%end%>

  <div>
  <a class="btn btn-info" href="/products/<%= @product.id %>/edit"> Edit Product Info</a>
  </div>

  <%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value="Delete Product">
  <% end %>

  <%= link_to "Add Image", "/products/#{@product.id}/images/new", class: "btn btn-warning"%>

